<div class='row'>
  <h4 class='subheader'>New Contact</h4>
</div>
<div class='row'>
  <div class='small-6 columns'>
  	<p>{{errors}}</p>
    {{input type="text" id="new-contact-name" placeholder="Name" value=newName}}
    <button {{action createContact}}>Submit</button>
  </div>
</div>
