<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a>Address Book</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider">
      <li>{{#link-to 'contacts'}}Contacts{{/link-to}}</li>
      <li class="divider"></li>
    </ul>
    <ul class="right">
    </ul>
  </section>
</nav>

{{outlet}}